@charset "ISO-8859-1";

@media (min-width: 768px){
	.panel-default{
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.alert {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	
}

h5 {
	text-align: center;
}

.aw-link-panel{
	float: right;
	padding: 0px;
}

.aw-titulo-panel{
	float:left;
	padding-top: 2px;
}

img {
	border-radius: 15px;
	height: 70px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    /* margin: 30px; */
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.nav li ul {
	display: none;
}

.nav li:hover ul{
	display: block;
	text-align: left;
	list-style-type: none;
}

.nav li ul li{
	line-height: 2em;
}

.nav li li a::before {
	content: '- ';
}