<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="LayoutPadrao">
	  
	<head>
		<meta charset="UTF-8">
		
		<title>Busca Atendimentos</title>
	</head>
	
	<section layout:fragment="conteudo">
		<br>
		<div layout:insert="MensagemGeral"></div>	
			
		<ul class="nav nav-pills">
			<li role="presentation"><a th:href="@{/menu}">Home</a></li>
			<li role="presentation" class="active"><a th:href="@{/atendimentos/novo}">Atendimentos</a></li>
			<li role="presentation"><a th:href="@{/departamentos}">Departamentos</a></li>
			<li role="presentation"><a th:href="@{/funcionarios}">Funcionarios</a></li>
			<li role="presentation"><a th:href="@{/impressoras}">Impressoras</a></li>
			<li role="presentation"><a th:href="@{/reunioes}">Reuniões</a></li>
		</ul>
		
		<h5 class="bg-info">Busca atendimentos</h5>
		
		<div class="panel panel-default">
		
				<div class="panel-heading">
					<div class="clearfix">
			    			<h1 class="panel-title aw-titulo-panel">Busca atendimentos</h1>
			    			<a class="btn btn-link aw-link-panel" th:href="@{/atendimentos/novo}">Novo atendimento</a>
			    	</div>
		    	</div>
		    	
		    <div class="panel-body">
		    	
		    	<form method="GET" class="form-horizontal" th:action="@{/atendimentos}" th:object="${filtro}">
		    		<div class="form-group">
		    			<div class="col-sm-4">
		    				<div class="input-group">
		    					<input class="form-control" placeholder="Digite o nome do solicitante para busca"
		    							autofocus="autofocus" th:field="*{solicitanteFiltro}" ></input>
		    					<span class="input-group-btn">
		    						<button type="submit" class="btn btn-default">
		    							<i class="glyphicon glyphicon-search"></i>		
		    						</button>
		    					</span>
		    				</div>
		    			</div>
		    		</div>
		    	</form>
		    	
		    	<div class="table-responsive">
			    	<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th class="text-center col-md-1">#</th>
								<th>Solicitante</th>
								<th class="col-md-2">Motivo</th>
								<th class="text-center col-md-2">Data</th>
								<th class="text-right col-md-2">Horario</th>
								<th class="text-center col-md-2">Status</th>
								<th class="col-md-1"></th>
							</tr>				
						</thead>  
						
						<tbody>
							<tr th:each="atendimento : ${todosAtendimentos}">
								<td class="text-center" th:text="${atendimento.id}"></td>
								<td th:text="${atendimento.solicitante}"></td>
								<td th:text="${atendimento.motivo}"></td>
								<td class="text-center" th:text="${{atendimento.data}}"></td>
								<td class="text-right" th:text="${atendimento.horario}"></td>
								
								<td class="text-center" th:attr="data-role=${atendimento.id}">
			   						<span class="label" th:text="${atendimento.status.descricao}"
			   							th:classappend="${atendimento.pendente ? 'label-danger' : 'label-success'}"></span>
		   						</td>
									
								<td class="text-center">
									<a class="btn btn-link btn-xs" th:href="@{/atendimentos/{id}(id=${atendimento.id})}" 
											title="Editar" rel="tooltip" data-placement="left" >
										<span class="glyphicon glyphicon-pencil"></span>								
									</a>
									
									<a class="btn btn-link btn-xs" th:href="@{/atendimentos/excluir/{id}(id=${atendimento.id})}"
											title="Excluir" rel="tooltip" data-placement="right" >
										<span class="glyphicon glyphicon-trash"></span>								
									</a>
									
									<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal" 
										th:attr="data-id=${atendimento.id}, data-solicitante=${atendimento.solicitante}"
										title="Deletar" rel="tooltip" data-placement="top" >
										<span class="glyphicon glyphicon-remove-circle"></span>								
									</a>
									
									<a class="btn btn-link btn-xs js-atualizar-status" 
										title="Resolvido" rel="tooltip" data-placement="top"
										th:if="${atendimento.pendente}"
										th:attr="data-codigo=${atendimento.id}"
										th:href="@{/atendimentos/{codigo}/resolver(codigo=${atendimento.id})}">
		   								<span class="glyphicon glyphicon-check"></span>
		   							</a>
									
								</td>
							</tr> 
							
							<tr>
								<td class="text-center" colspan="7" th:if="${#lists.isEmpty(todosAtendimentos)}">Nenhum atendimento foi encontrada</td>
							</tr>
							
						</tbody>  
			    	</table>
			    </div>	
		    </div>
		    
		    <div layout:insert="DialogoConfirmacaoExclusao"></div>
		    
		</div>
	</section>
</html>